
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=d613b1de3c438678c8f527d7c33580bb
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress